<div class='spacer'></div>
<div class="container cocktail-container">
  <div class='row'>
    <div class='col-sm-12 center-in-div bottom-30'>
      <div class='cocktail-title'>
        <%= @cocktail.name %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-10 col-md-6 center-in-div bottom-30'>
      <%= image_tag(@cocktail.photo, alt: "Delete item", class: 'cocktail-image') %>
    </div>
    <div class='col-sm-10 col-md-6 center-in-div bottom-30'>
      <%# list %>
      <ul class="list-group">
        <% if @doses.nil? %>
          <p>No cocktails</p>
        <% else %>
          <% @doses.each do |dose| %>
            <li class="list-group-item ingredients-list-item ingredients-list">
              <div class='text'>
                <%= dose.description %> of
                <%= dose.ingredient.name %>
              </div>
              <%= link_to image_tag("https://res.cloudinary.com/diciu4xpu/image/upload/v1550148703/bsfe67cpyozwxivqrbfi.png", alt: "Delete item", class: 'destroy-icon'), "/doses/#{dose.id}", :method => :delete, class: 'destroy-icon-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<footer>
  <div class='button-main' id='add'>ADD MORE INGREDIENTS</div>
  <%= button_to 'edit', "/cocktails/#{@cocktail.id}/edit", {class: 'button-secondary', :method => :delete} %>
  <%= button_to 'delete', "/cocktails/#{@cocktail.id}", {class: 'button-secondary', :method => :delete} %>
  <%= button_to 'return', "/", {class: 'button-secondary', method: :get} %>
</footer>
</div>
