<p></p>
<div class='container'>
  <div class='row'>
    <%= simple_form_for [@dose] do |f| %>
    <div class="form-group">
      <%= f.label 'Ingredient description:' %>
      <%= f.input_field :description, prompt: "ex. 5ml", as: :string, class: 'form-control', :autofocus => true %>
    </div>
    <div class="custom-control custom-radio">
    <%= f.label 'Rating:' %>
    <%= f.input_field :ingredient_id,  class: 'form-control', collection: @ingredients %>
  </div>
    <p></p>
    <% if @dose.errors.any? %>
  <div class="errors-container">
    <ul>
      <% @dose.errors.full_messages.each do |message| %>
      <li class='text-danger'>
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <p></p>
    <%= hidden_field_tag :cocktail_id, @cocktail.id %>
    <%= f.button :submit, "Add ingredient", class: "btn btn-primary" %>
    <button type='button' class='btn btn-secondary' onclick="window.history.go(-1); return false;">Cancel</button>
    <% end %>
  </div>
  <p></p>
</div>